  
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.Cell {
	display: inline-block;
	/*
		Without drawing border lines, we get a significant, almost double, performance improvement.
		But in order to demonstrate the size of the board changing for demo purposes,
		I leave the border turned on.
	 */
	border: 1px solid grey;
}

.Cell.isActive {
	background-color: #61dafb;
}

.Field {
	display: grid;
	width: 95%;
	max-width: 1000px;
	height: 1000px;
	border: 1px solid black;
	margin: 10px auto;
}
